# Port configuration
FRONTEND_USER_PORT=5173
FRONTEND_ADMIN_PORT=5174
BACKEND_API_PORT=8000
BACKEND_AI_PORT=8001

# Database
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/lehkhabu

# JWT
JWT_SECRET=supersecret
ALGORITHM=HS256

# External Services
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
SUPABASE_URL= https://thdltkblbodghicxfgdh.supabase.co
SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRoZGx0a2JsYm9kZ2hpY3hmZ2RoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MjQzNjIsImV4cCI6MjA5MTMwMDM2Mn0.SJ95QHCalB7Ixha4r0qpurTXke1c1YpxKS-ipqf6DX8
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRoZGx0a2JsYm9kZ2hpY3hmZ2RoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTcyNDM2MiwiZXhwIjoyMDkxMzAwMzYyfQ.-cXJROpIUnkzStfoa49x99HkLPIZNIfpUIM7w0BIMO4

